*{
    @include prefix(box-sizing, border-box, webkit ms moz o)
  }
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Khand', sans-serif;
    font-size: $baseFont;
    @media screen and (max-height: $media_Middle_Height) {
      font-size: $media_Middle_Height-baseFont;
    }
  }
  @include keyframes(slide-up) {
    0% { opacity: 0; }
    90% { opacity: 1; }
  }
  .error{
    color: #fff;
    font-size: 2rem;
    &__paragraph{
      text-align: center;
      margin: 0px;
    }
  }
  .app{
    @include flexbox;
    @include prefix(justify-content, center, webkit ms moz o);
    @include prefix(align-items, center, webkit ms moz o);
    min-height: 99.9vh;
    background-color: $blue;
    &.night{
      background-color: $dark_Blue_Body-Color;
      .slider{
        &-wrap{
          background-color: $dark_Blue_App-Color;
        }
        &-thumbnails__preview{
          &.active{
             background-color: $footer_preview_Active_Slide_Dark_Blue-Color;
          }
        }
      }
    }

  }
  .flex-wrap{
    &__item{
      &_full-width{
        width: 100%;
      }
    }
  }
  .background-image{
    &__box{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
    }
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    &__level1{
      g{
        fill: rgba(365,365,365,0.2);
      }
    }

  }
  .slider{
    margin: 0 auto;
    &__header{
      background-color: rgba(365,365,365,0.1);
      height: $header-Height;
      @include flexbox;
      @include prefix(justify-content, center, webkit ms moz o)
      @include prefix(align-items, center, webkit ms moz o)
      font-size: $header-Font;
      color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      @media screen and (max-height: $media_Middle_Height) {
        height: $media_Middle_Heightheader-Height;
      }
    }
    &__overcast{
      margin-bottom: $mainWeatherIcon-Margin_to_Elements;
    }
    &-wrap{
     max-width: $app-MaxWidth;
     margin-left: auto;
     margin-right: auto;
     background-color: $light-blue;
     position: relative;
     overflow: hidden;

    }
    &__item{
      padding-top: $header-Height;
      position: relative;
      @media screen and (max-height: $media_Middle_Height) {
        padding-top: $media_Middle_Heightheader-Height;
      }
    }
    &__icon{
      width: $mainWeatherIcon-Square;
      height: $mainWeatherIcon-Square;
      margin-left: auto;
      margin-right: auto;
      fill: #fff;
      &-wrap{
        width: $mainWeatherIcon_MainHalo-Square;
        height: $mainWeatherIcon_MainHalo-Square;
        margin: 0 auto;
        background-color: rgba(365,365,365,0.2);
        @include flexbox;
        @include prefix(align-items, center, webkit ms moz o)
        @include prefix(border-radius, 50%, webkit ms moz o)
        position: relative;
        @media screen and (max-height: $media_Middle_Height) {
          width: $media_Midlle_Height_mainWeatherIcon_MainHalo-Square;
          height: $media_Midlle_Height_mainWeatherIcon_MainHalo-Square;
        }
        &::before{
          content: "";
          display: block;
          position: absolute;
          width: $mainWeather_IconHalo-Square;
          height: $mainWeather_IconHalo-Square;
          top: 50%;
          margin-top: -($mainWeather_IconHalo-Square/2);
          left: 50%;
          margin-left: -($mainWeather_IconHalo-Square/2);
          background-color: rgba(365,365,365,0.2);
          z-index: 0;
          @include prefix(border-radius, 50%, webkit ms moz o);
          @media screen and (max-height: $media_Middle_Height) {
            width: $media_Midlle_Height_mainWeather_IconHalo-Square;
            height: $media_Midlle_Height_mainWeather_IconHalo-Square;
             margin-left: -($media_Midlle_Height_mainWeather_IconHalo-Square/2);
             margin-top: -($media_Midlle_Height_mainWeather_IconHalo-Square/2);
          }
        }
      }
    }
    &__content{
      position: relative;
      min-height: $appContent-MinHeight;
      padding: $appContent-Padding;
      flex-wrap: wrap;
      font-size: $appContent-FontSize;
      color: #fff;
      &_text-center{
        text-align: center;
      }
      @media screen and (max-height: $media_Middle_Height) {
        min-height: $media_Middle_AppContent-MinHeight;
      }
      @media screen and (max-height: $media_Small_Height) {
        min-height: 0;
        height: $media_SmallHeight_AppContent-MinHeight;
      }
    }
    &__footer{
      margin-top: $mainWeatherIcon-Margin_to_Elements;
    }
    &-thumbnails{
      @include flexbox;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(25,180,251,0.1);
      color: #fff;
      &__preview{
        @include flexbox;
        @include prefix(flex-grow, 1, webkit ms moz o);
        @include prefix(flex-wrap, wrap, webkit ms moz o);
        @include prefix(align-items, center, webkit ms moz o);
        padding: $footer_preview-padding;
        cursor: pointer;
        @include prefix(justify-content, center, webkit ms moz o);
        text-align: center;
        &.active{
          background-color: $footer_preview_Active_Slide_Blue-Color;
          @include animation('slide-up 0.2s linear 1');
        }
      }
      &__svg{
        fill: #fff;
        width: $footer_preview-Square;
        height: $footer_preview-Square;

      }
      &__time{
        width: 100%;
      }
    }
  }