$blue: #06B0FB;
$light-blue: #19B4FB;
$footer_preview_Active_Slide_Blue-Color: rgba(25,180,251,0.5);

$dark_Blue_Body-Color: #0E7ACD;
$dark_Blue_App-Color: #1580D3;
$footer_preview_Active_Slide_Dark_Blue-Color: rgba(21,128,211,0.5);

$baseFont: 18px;

$app-MaxWidth: 400px;
$appContent-MinHeight: 500px;

$header-Height: 60px;
$header-Font: 1.5rem;


$appContent-Padding: 30px 0;
$appContent-FontSize: 1.4rem;

$mainWeatherIcon-Square: 70px;
$mainWeatherIcon_MainHalo-Square: 100px;
$mainWeather_IconHalo-Square: 160px;
$mainWeatherIcon-Margin_to_Elements: 40px;

$footer_preview-padding: 10px 0;
$footer_preview-Square: 50px;


$media_Middle_Height: 560px;
$media_Middle_Height-baseFont: 16px;
$media_Middle_Heightheader-Height: 40px;
$media_Midlle_Height_mainWeatherIcon_MainHalo-Square: 80px;
$media_Midlle_Height_mainWeather_IconHalo-Square: 120px;
$media_Middle_AppContent-MinHeight: 420px;

$media_Small_Height: 480px;
$media_SmallHeight_AppContent-MinHeight: 360px;

